<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Browse Archive</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="imagetoolbar" content="false" />
<link rel="stylesheet" href="./templates/pixelpost-light/pixelpost-light.css" type="text/css" />
</head>
<body>
<div id="wrapper">
<div id="title">
Browse archive: <BROWSE_CATEGORIES><br /><br />
<BROWSE_CHECKBOXLIST><br /><br />
</div>
<a href="index.php">Back to Site</a><br /><br />
<div id="images">
<THUMBNAILS>
</div>
<a href="http://www.pixelpost.org" target="_new">Powered by Pixelpost 1.5</a>
</div>
</body>
</html>
