<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="imagetoolbar" content="false" />
<title><SITE_TITLE> :: Comments</title>
<link href="templates/horizon/styles/horizon.css" rel="stylesheet" type="text/css" />
<!-- SCRIPTS -->
<script language="javascript" type="text/javascript">
<!--
	function clearBox(box) {
		 if(box.value==box.defaultValue) {
	 	 	 box.value = "";
	 	 }
	 }
//-->
</script>

</head>
<body>


<div id="comment-top">
<h2><IMAGE_TITLE></h2>
</div>

<div id="commentbox">
<div id="comment-middle"></div>

<div id="addcomment">
<form method='post' action='index.php?x=save_comment' name='commentform' accept-charset='UTF-8'>
<textarea name='message' rows='2' cols='40' onfocus="clearBox(this);">Type your comment here.</textarea><br /><br />
<input type='text' name='name' class='input' value='<VINFO_NAME>' id="name"/>&nbsp;&nbsp;&nbsp; <label for="name">Name</label><br /><br />
<input type='text' name='url' class='input' value='<VINFO_URL>' id="url"/>&nbsp;&nbsp;&nbsp; <label for="url">Website URL, if any</label><br /><br />
<input class='input' type='text' name='email' value='<VINFO_EMAIL>' id="email"/>&nbsp;&nbsp;&nbsp; <label for="email">Email (not visible to others)</label><br /><br />

<input name='vcookie' type='checkbox' id="saveinfo" value='set' checked="checked" />
<label for="saveinfo">Save User Info</label><br /><br />
&nbsp;&nbsp;<input type='submit' value='Add' class="comment-button"/>
<input type='hidden' name='parent_id' value='<IMAGE_ID>' />
<input type='hidden' name='parent_name' value='<IMAGE_NAME>' />
</form>
</div>
</div> <!-- /commentbox -->
</body>
</html>

