<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><SITE_TITLE></title>
<!-- Link for ATOM feed autodiscovery -->
<ATOM_AUTODETECT_LINK>
<!-- Link for RSS feed autodiscovery -->
<RSS_AUTODETECT_LINK>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,<IMAGE_TITLE>,Pixelpost" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE>-PhotoBlog: <IMAGE_TITLE>, <IMAGE_NOTES_CLEAN>" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/horizon/styles/horizon.css" />
<!-- SCRIPTS -->
<script src="templates/horizon/scripts/lib/prototype.js" type="text/javascript"></script>
<script src="templates/horizon/scripts/src/scriptaculous.js" type="text/javascript"></script>
</head>

<body>

<div id="image-info" style="display:none">

<div class="inside">
<h2><IMAGE_TITLE> <em><IMAGE_DATE></em> <em><IMAGE_COMMENTS_NUMBER> <COMMENT_POPUP></em> </h2>

<div id="image_notes">
<IMAGE_NOTES> 
<p><a href="#" onclick="Effect.toggle('image-info','BLIND'); return false;">(close)</a></p>
</div> <!-- End image notes -->

<div id="image_comments">
<IMAGE_COMMENTS>
</div> <!--/image comments -->

</div>  <!-- /inside -->
<div class="clear"></div>
</div> <!--/d2 -->

<div id="header">
<div class="inside">
<h1><a href="index.php" title="Return to current image"><SITE_TITLE></a></h1>
<ul>
<li><a href="index.php" title="Return to Homepage">Home</a></li>
<li><a href="<SITE_BROWSELINK>" title="Browse">Browse</a></li>
<li><a href="index.php?x=about" title="About">About</a></li>
<li>/</li>
<li class="secondary"><a href="#" onclick="Effect.toggle('image-info','BLIND'); return false;"><IMAGE_COMMENTS_NUMBER> Comments</a></li>
</ul>
</div> <!-- /inside -->
</div> <!-- /header -->

<div id="photobox">
<a href="index.php?showimage=<IMAGE_PREVIOUS_ID>">
<img src="images/<IMAGE_NAME>" alt="<IMAGE_TITLE>" title="<IMAGE_TITLE>" width="<IMAGE_WIDTH>" height="<IMAGE_HEIGHT>" id="photo" />
</a>
</div> <!-- /photo -->

<div id="infobox">
<div id="image-navigate" class="inside">
<ul>
<li class="left"><IMAGE_PREVIOUS_LINK></li>
<li class="left" style="text-align:center"><a href="#" onclick="Effect.toggle('image-info','BLIND'); return false;">Info &amp; <IMAGE_COMMENTS_NUMBER> Comments</a></li>
<li class="right" style="text-align:right"><IMAGE_NEXT_LINK></li>
</ul>
</div>
</div> <!--/infobox -->


<div id="footer">
<ul>
<li>Powered by <a href="http://www.pixelpost.org" title="Powered by PixelPost">PixelPost</a></li>
<li>Designed by <a href="http://www.cancerbox.com" title="Designed by Scott Craig">SCraig</a></li>
<li>This website uses valid <a href="http://validator.w3.org/check/referer" title="This website uses Valid xHTML">xHTML</a> / <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This website uses Valid CSS2">CSS</a></li>
</ul>
<ul>
<li>&copy; <SITE_TITLE></li>
<li><SITE_RSS_LINK></li>
<li><SITE_ATOM_LINK></li>
<li><a href="admin/index.php">Login</a></li>
</ul>
</div>


</body>
</html>
