<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title><SITE_TITLE>-Comments</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="imagetoolbar" content="false" />
<link rel="stylesheet" type="text/css" href="./templates/pixelpost-dark/pixelpost-dark.css" />
</head>
<body>
<div id="comment-wrapper">
<div id="comment-imageinfo">
Comments for
</div>
<div id="title">
<IMAGE_TITLE>
<br /><IMAGE_THUMBNAIL>
</div>
<div class="image-info">
<IMAGE_NOTES>
</div>
<p />&nbsp;&nbsp;
<div id="comments">
<IMAGE_COMMENTS>
</div>
<p />&nbsp;&nbsp;
<div id="addcomment">
<b>ADD COMMENT</b>
<form method='post' action='index.php?x=save_comment' name='commentform' accept-charset='UTF-8'>
Message:<br />
<textarea name='message' rows='2' cols='40'></textarea><p />&nbsp;
<input type='text' name='name' class='input' value='<VINFO_NAME>' id="name"/>&nbsp;&nbsp;&nbsp; <label for="name">Name</label> <p />&nbsp;
<input type='text' name='url' class='input' value='<VINFO_URL>' id="url"/>&nbsp;&nbsp;&nbsp; <label for="url">Website URL, if any</label><p />&nbsp;
<input class='input' type='text' name='email' value='<VINFO_EMAIL>' id="email"/>&nbsp;&nbsp;&nbsp; <label for="email">Email (not visible to others)</label><p />&nbsp;
<input type='hidden' name='parent_name' value='<IMAGE_NAME>' />
<input type='checkbox' value='set' name='vcookie' id="saveinfo" /><label for="saveinfo">Save User Info</label><br /><br />
&nbsp;&nbsp;<input type='submit' value='Add' />
<input type='hidden' name='parent_id' value='<IMAGE_ID>' />
<input type='hidden' name='parent_name' value='<IMAGE_NAME>' />
</form>

</div>
<!-- Powered by PixelPost -->
<a href="http://www.pixelpost.org" target="_new">Powered by Pixelpost 1.5</a>
</div>
</body>
</html>
