<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><SITE_TITLE> - <SUB_TITLE></title>
<!-- Link for ATOM feed autodiscovery -->
<ATOM_AUTODETECT_LINK>
<!-- Link for RSS feed autodiscovery -->
<RSS_AUTODETECT_LINK>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,<IMAGE_TITLE>,Pixelpost" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE>-PhotoBlog: <IMAGE_TITLE>, <IMAGE_NOTES_CLEAN>" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/simple/styles/light.css" title="light" />
<link rel="alternate stylesheet" type="text/css" href="templates/simple/styles/dark.css" title="dark" />
<!-- SCRIPTS -->
<script type="text/javascript" src="templates/simple/scripts/styleswitcher.js"></script>
</head>

<body>
<div id="navigation">
<h1><a href="index.php" title="Return to current image"><SITE_TITLE> - <SUB_TITLE></a></h1>
<span class="menu">
<a href="index.php" title="Return to Homepage">Home</a> |
<a href="<SITE_BROWSELINK>" title="Browse">Browse</a> |
<a href="index.php?x=about" title="About">About</a>
</span>
</div>

<a href="index.php?showimage=<IMAGE_PREVIOUS_ID>">
<img src="images/<IMAGE_NAME>" alt="<IMAGE_TITLE>" title="<IMAGE_TITLE>" width="<IMAGE_WIDTH>" height="<IMAGE_HEIGHT>" id="photo" />
</a>

<div id="image-navigate">
<span class="image-previous"><IMAGE_PREVIOUS_LINK></span>
<span class="image-next"><IMAGE_NEXT_LINK></span>
</div>

<div id="image-info">
<span class="addcomment">+ <COMMENT_POPUP></span>
<span class="title"><IMAGE_TITLE></span> - <IMAGE_DATETIME>
<table width="100%">
<tr>
<td id="image-notes"><IMAGE_NOTES></td>
<td id="image-exif">
<EXIF_CAMERA_MODEL><br />
<EXIF_EXPOSURE_TIME><br />
<EXIF_APERTURE><br />
<EXIF_FLASH><br />
</td>
</tr>
</table>
</div>


<div id="footer">
Site Style: <a href="#" onclick="setActiveStyleSheet('light'); return false;">Light</a> /
<a href="#" onclick="setActiveStyleSheet('dark'); return false;">Dark</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<SITE_RSS_LINK> / <SITE_ATOM_LINK>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="http://validator.w3.org/check/referer" title="This website uses Valid xHTML">Valid xHTML</a> / <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This website uses Valid CSS2">Valid CSS</a>
</div>

</body>
</html>
