/* .............................. */
/* Basic */
/* .............................. */

body {
	background:#f1f5f5;
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	}

/* .............................. */
/* Links */
/* .............................. */

a {
	color:#993333;
	text-decoration:none;
	}

/* .............................. */
/* Wrapper */
/* .............................. */

#wrapper {
	margin:20px auto;
	padding:0px;
	width:90%;
	text-align:left;
	background:#f4f6f1;
	color:#666;
	border:1px solid #ccc;
	}

/* .............................. */
/* Header */
/* .............................. */

#header {
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:0px;
    font-family:Helvetica, verdana, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#666;
	background:#f4f6f1;
    letter-spacing:2px;
    }

#header a {
    color:#666;
	background:#f4f6f1;
    text-decoration:none;
    }

#header a:hover {
    color:#666;
	background:#f4f6f1;
    text-decoration:underline;
    }

/* .............................. */
/* Navigation */
/* .............................. */

#navigation {
    margin-top:0px;
	margin-left:0px;
	margin-right:0px;
    margin-bottom:10px;
    background:#f5f5f5;
    color:#993333;
    font-size:11px;
	font-variant:small-caps;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align:center;
	line-height:33px;
    }

#navigation a {
    color:#993333;
	background:#f5f5f5;
    text-decoration:none;
	padding:10px;
    }

#navigation a:hover {
    background:#dfeff1;
    color:#666;
    }

#submenu {
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	padding-top:5px;
	padding-bottom:5px;
	background:#dfeff1;
	color:#666;
	font-weight:normal;
	font-size:10px;
	margin:10px auto;
	text-align:center;
    }

#submenu a {
	padding:5px;
	background:#dfeff1;
	}

#submenu a:hover {
	background:#f5f5f5;
	color:#666
	}

/* .............................. */
/* Captions */
/* .............................. */

#caption {
    margin:0px 0px 10px 0px;
    padding:9px;
    font-size:13px;
	color:#666;
    font-weight:bold;
    text-align:right;
	font-variant:small-caps;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	background:#f5f5f5;
    }

.jcaption {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:0px 0px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:10px;
    padding-right:0px;
    font-family:Helvetica, verdana, sans-serif;
    font-size:12px;
    font-weight:bold;
    letter-spacing:1px;
    color:#666;
    background:#d5e5f1;
    }

/* .............................. */
/* Content and titles */
/* .............................. */

.content {
    border:0px solid #000;
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    font-size:11px;
    background:#f5f5f1;
	color:#666;
    }

.content ul {
    list-style:none;
    display:block;
    margin:0px;
    padding:0px;
    }

.content ul li {
    padding:10px;
    margin:0px 0px 5px 0px;
    border-top:0px;
	border-left:0px;
	border-right:0px;
    border-bottom:1px solid #ccc;
    }

.content ul li img {
    border:1px solid black;
    float:left;
    margin:5px 10px 0px 0px;
    height:40px;
    }

.content ul a:hover {
    text-decoration:underline;
    color:#000;
	background-color:#f5f5f1;
    }


/* .............................. */
/* Misc. */
/* .............................. */

input {padding:2px;}

.right {margin-left:2%;}
.smaller {font-size:9px;font-weight:normal;}

.item {
	border:0px;
	float:left;
	padding-right:5px;
	margin-right:5px;
	font-weight:bolder;
	font-size:110%;
}

hr {
	background-color:#ccc;
	height:1px;
	border:0px;
	}	

.selectedsubmenu {background-color:#f4f6f1;color:#666;}
.published-comment {background-color:#f4f6f1;color:#666;}
.unpublished-comment {background-color:#fff9e1;color:#666;}

.cmnt-buttons {
    background:#f5f5f5;
	border:1px solid #aaa;
	color:#666;
	border-bottom:2px solid #aaa;
	border-right:2px solid #aaa;
	font-size:10px;
	}

.confirm {
  	font-size:12px;
	font-weight:bold;
	color:red;
}


#cattable {
	width:100%;
	margin:0px;
	padding:1px;
	clear:both;
	}

#cattable td {
	width:25%;
	}

#logo {
    position:relative;
    float:left;
    border:0px;
    margin:0px 18px;
    padding:0px;
    }

#itemimg {
	margin-left:20px;
	margin-top:5px;
	border:1px solid #ccc;
	}

#photonumb {
   	color:#993333;
	background:#d5e5f1;
	font-weight:bold;}

#warning {
    font-size:12px;
    font-weight:bold;
    color:#000;
    background-color:#c30;
	font-family:arial,verdana,sans-serif;
    text-align:center;
    margin-left:30%;
    margin-right:30%;
    padding:6px;
    }

#datetable {
	text-align:center;
	}

#datetable td {
	width:30px;
	}

#datetable td.gap {
	width:5px;
	}

.images-checkbox{
    margin-bottom:0px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
	}