/* @override http://localhost:8888/pixelpost18/admin/styles/info.css */

h2.title {
	float: right;
	padding: 9px 5px 0 0;
	margin: 0;
}

h2.caption {
	float: right;
}

h4 {
	font-weight: normal;
}

h3 {
	text-align: left;
	font-size: 1.1em;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #aaa;
}

.notice {
	font-weight: normal;
	font-style: normal;
}

input#highlightBBCode,
input#highlightText {
	margin: 0 0 10px;
	width: 150px;
}

fieldset#bloginfo dl dd strong {
	font-size: 1.0em;
}

.found {
	text-transform: lowercase;
}

.path {
	font-style: italic;
	font: 1.0em "Courier New", Courier, mono;
}

fieldset#ppinfo,
fieldset#bloginfo {
	margin: 0px;
	padding: 20px 15px 20px 30px;
}