<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title><SITE_TITLE></title>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/horizon/styles/horizon.css" />
<!-- SCRIPTS -->
</head>
<body>
<div id="header">
<div class="inside">
<h1><a href="index.php" title="Return to current image"><SITE_TITLE></a></h1>
<ul>
<li><a href="index.php" title="Return to Homepage">Home</a></li>
<li><a href="<SITE_BROWSELINK>" title="Browse">Browse</a></li>
<li><a href="index.php?x=about" title="About">About</a></li>
</ul>
</div> <!-- /inside -->
</div> <!-- /header -->

<div id="infobox">
<div id="page">
<h2>Browse Archive:</h2>
<div id="thumbnails">
<BROWSE_CATEGORIES>
<br /><br />
<THUMBNAILS>
</div> <!--/thumbnails -->
</div> <!--/page-->
</div> <!--/infobox-->

<div id="footer">
<ul>
<li>Powered by <a href="http://www.pixelpost.org" title="Powered by Pixelpost">Pixelpost</a></li>
<li>Designed by <a href="http://www.cancerbox.com" title="Designed by Scott Craig">SCraig</a></li>
<li>This website uses valid <a href="http://validator.w3.org/check/referer" title="This website uses Valid xHTML">xHTML</a> / <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This website uses Valid CSS2">CSS</a></li>
</ul>
<ul>
<li>&copy; <SITE_TITLE></li>
<li><SITE_RSS_LINK></li>
<li><SITE_ATOM_LINK></li>
<li><a href="admin/index.php">Login</a></li>
</ul>
</div>


</body>
</html>
