<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="imagetoolbar" content="false" />
<title>Browse Archive</title>
<link rel="stylesheet" href="templates/utf-rtl/utfrtl.css" type="text/css" />
</head>
<body>
<div id="wrapper">
<div id="title">
Browse archive<p />
<BROWSE_CATEGORIES>
</div>
<a href="index.php">Back to Site</a><p />
<div id="images">
<THUMBNAILS>
</div>
<!-- Powered by PixelPost -->
<a href="http://www.pixelpost.org" target="_new">Powered by Pixelpost 1.5</a>
</div>
</body>
</html>
